# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db
